$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

body{
  padding-top: 50px;
  background: url('../images/texture.png');
}

h1{
  font-family: 'graduate', cursive;
}

/* Title and enroll*/

#title-enroll .jumbotron{
  background: url('../images/mainBackground.png') 50% 0 no-repeat fixed;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-align: center;
}