$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

body{
  padding-top: 50px;
  background: url('../images/texture.png');
}

.header-section{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-align: center;
}

p{
  text-align: justify;
}

h1{
  font-family: 'graduate', cursive;
}

h2 {
  font-family: 'pacifico', cursive;
}
.wrap{
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Title and enroll*/

#title-enroll .jumbotron{
  background: url('../images/mainBackground.png') 50% 0 no-repeat fixed;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-align: center;
}

#what-learn{
  text-align: center;
}


/* Course Target */
#course-target{
  background-color: #BF3E11;
  color: white;
}